<div class="flex flex-col" [class.move]="animate">
  <div class="flex flex-col containerTimer">
    <div class="containerDiv">
      <div class="flex">
        <div class="divButon">
          <div class="time">
            {{ hours | number : "2.0" }} <span class="detailtex">h</span>
          </div>
          <div *ngIf="show">
            <button class="butons" (click)="increment('H')">+</button>
            <button class="butons" (click)="decrement('H')">-</button>
          </div>
        </div>
        <div class="divButon">
          <div class="time">
            {{ minutes | number : "2.0" }} <span class="detailtex">m</span>
          </div>
          <div class="content-btn" *ngIf="show">
            <button class="butons" (click)="increment('M')">+</button>
            <button class="butons" (click)="decrement('M')">-</button>
          </div>
        </div>
        <div class="divButon">
          <div class="time">
            {{ seconds | number : "2.0" }} <span class="detailtex">s</span>
          </div>
          <div class="content-btn" *ngIf="show">
            <button class="butons" (click)="increment('S')">+</button>
            <button class="butons" (click)="decrement('S')">-</button>
          </div>
        </div>
      </div>
      <div class="divButon2">
        <button
          type="button"
          class="button2 buttonPlay"
          (click)="start()"
          [disabled]="disabled"
        >
          &#9658;
        </button>
        <button type="button" class="button2 buttonStop" (click)="stop()">
          &#9724;
        </button>
        <button type="button" class="button2" (click)="reset()">&#8635;</button>
      </div>
    </div>
  </div>
</div>

<audio #idAudio controls class="dnone">
  <source type="audio/wav" src="../../assets/alarm.mp3" />
</audio>
