.dnone {
  display: none;
}

.containerTimer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30vh;
  justify-content: space-evenly;
  margin: 2rem 0 3rem;
}

.containerDiv {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 24rem;
  border-radius: 2rem;
  height: 13rem;
  border: 2px solid gray;
}

.divText {
  width: 25rem;
  margin-bottom: 3rem;
}

.divtextdiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.butons {
  padding: 0 0.7rem;
  font-size: 1.7rem;
  margin: 0.2rem;
  background: linear-gradient(45deg, black, transparent);

}

.time {
  font-size: x-large;
  margin-bottom: 1rem;
}

.divButon {
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.divButon2 {
  width: 14rem;
  padding: 0.75rem;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.button2 {
  font-size: x-large;
  padding: 0 1rem;
}

.detailtex {
  color: #4e4e4e;
  font-weight: 600;
}

.modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  z-index: 10;
  background-color: #121111fa;
  right: 0;
  margin: auto;
  font-size: 1.5em;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal2 {
  height: 15rem;
  background: white !important;
  /* width: 60%; */
  display: flex;
  margin: auto;
  width: 70%;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modalh2 {
  color: black;
  padding: 0.2rem;
}

.divmodal {
  display: flex;
}

.buttonModal {
  color: white;
  background-color: royalblue;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
}

.buttonModal:hover {
  background-color: #2251dd;
  border: 1px solid black;
}
.detailtex {
  color: royalblue;
  font-weight: 600;
}