<div class="div">
  <h2>Técnica Pomodoro</h2>
  <p class="text">
    La técnica Pomodoro consiste en usar un temporizador para dividir el trabajo
    en bloques de tiempo enfocados (generalmente 25 minutos) separados por un
    breve descanso, generalmente de cinco minutos. Después de cuatro bloques de
    tiempo de trabajo consecutivos, se toma un descanso más largo, alrededor de
    20 o 30 minutos. Cada bloque de trabajo de 25 minutos se llama “pomodoro”.
    Si sientes la necesidad de hacer algo diferente al trabajo durante un
    período de concentración, anótalo. Con el tiempo, te entrenarás para ser más
    productivo durante cada pomodoro. Los beneficios de la técnica Pomodoro
    provienen de los descansos frecuentes, que ayudan a que tu mente se mantenga
    fresca. Los bloqueos de tiempo enfocados también te obligan a cumplir con
    límites fijos, por lo que te animará a completar una tarea más rápidamente
    o, en el caso de una tarea grande, extenderla en varios pomodoros.
  </p>
  <h3>Ventajas para la productividad en el teletrabajo</h3>
  <p>
    El aumento del trabajo en remoto, en el que es fácil caer en las
    distracciones propias del entorno familiar y cómo esto podría afectar a la
    productividad, ha venido preocupado a empresarios y directivos en los
    últimos tiempos. Hay técnicas sencillas de aplicar, aunque conllevan
    disciplina, para contrarrestar la tendencia a dispersarse y ser más eficaz.
    Una de ellas está despertando mucho interés entre los profesionales que
    teletrabajan: la Técnica Pomodoro.

    <br />¿Con qué frecuencia tocas la pantalla de tu teléfono celular y te
    distraes? <br />Según un estudio, los usuarios tocan sus teléfonos 2.617
    veces al día. Además, pasamos unas 3 horas al día con nuestros teléfonos.
    Hay un flujo constante de información, notificaciones de redes sociales y
    mensajes de correo electrónico que ocupan nuestro tiempo. El resultado es
    que nuestra productividad es cada vez menor. El problema no es solo la
    distracción, sino el tiempo y la energía que se necesitas para recuperar tu
    enfoque en tu trabajo o estudio. Recuperar la concentración completa lleva
    unos 20 minutos, y después de ceder ante la necesidad de mirar Facebook,
    pasan otros 20 minutos.
  </p>
</div>
