<div class="flex flex-col " [class.move]="animate">
  <div class="flex bg-red-900 flex-col ">
    <div class="flex ">
      <div class="content-h">
        <div class="time">{{ hours | number : "2.0" }} <span>h</span></div>
        <div class="content-btn" *ngIf="show">
          <button (click)="increment('H')">+</button>
          <button (click)="decrement('H')">-</button>
        </div>
      </div>
      <div class="content-m">
        <div class="time">{{ minutes | number : "2.0" }} <span>m</span></div>
        <div class="content-btn" *ngIf="show">
          <button (click)="increment('M')">+</button>
          <button (click)="decrement('M')">-</button>
        </div>
      </div>
      <div class="content-s">
        <div class="time">{{ seconds | number : "2.0" }} <span>s</span></div>
        <div class="content-btn" *ngIf="show">
          <button (click)="increment('S')">+</button>
          <button (click)="decrement('S')">-</button>
        </div>
      </div>
    </div>
    <div class="content-btn-action">
      <button type="button" (click)="start()" [disabled]="disabled">
        &#9658;
      </button>
      <button type="button" (click)="stop()">&#9724;</button>
      <button type="button" (click)="reset()">&#8635;</button>
    </div>
  </div>

  <div class="mt-10">
    <h2>Que es la tecnica Pomodoro?</h2>
    <p>
      La técnica Pomodoro consiste en usar un temporizador para dividir el
      trabajo en bloques de tiempo enfocados (generalmente 25 minutos) separados
      por un breve descanso...
    </p>
    <button type="button" (click)="goDetails()">Leer mas</button>
  </div>
</div>

<audio #idAudio controls class="dnone">
  <source type="audio/wav" src="../../assets/alarm.mp3" />
</audio>
